body {
   background-color: aqua;
   background-image: url('../image/background.png');
   background-size: cover;
}

.main-box {
   position: relative;
   margin: 0 auto;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
}

.inputs-box {
   color: darkslategray;
   font-family: monospace;
   font-size: 36px;
   font-weight: bold;
   text-transform: uppercase;
}

#size-input {
   background-color: rgba(144, 153, 162, 0.3);
   border: 4px solid darkslategray;
   color: green;
   font-size: 28px;
   font-weight: bold;
   text-align: right;
}

#sort-button {
   background: url('../image/playbuttondark.png');
   border: 0;
   height: 42px;
   outline: none;
   vertical-align: bottom;
   width: 42px;
}

#sort-button:hover {
   background: url('../image/playbuttongreen.png');
   cursor: pointer;
}

#input-array-container, #sorted-array-container {
   transition: height 1s ease;
}

#input-array, #sorted-array {
   margin-top: 10px;
}

#input-array div, #sorted-array div {
   background-color: rgba(144, 153, 162, 0.3);
   border: 3px solid white;
   border-radius: 50%;
   color: white;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 28px;
   height: 30px;
   margin: 2px;
   opacity: 0.95;
   padding: 4px;
   position: relative;
   text-align: center;
   width: 30px;
   z-index: 10;
}

.errortext {
   color: red;
   font-family: monospace;
   font-size: 36px;
   font-weight: bold;
   height: 40px;         
   overflow-y: hidden;
   left: 0;
   overflow-x: hidden;
   padding: 0 10px;
   position: absolute;
   right: 0;
   max-height: 0;
   text-transform: uppercase;
   transition: max-height 0.3s ease;
   z-index: 15;
}

.visible {
   max-height: 40px;
   visibility: visible;
}